.foodCardBox {
    background-color:  #004715;
    width: auto;
    max-width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid black;
    /* padding: 20px; */
  }

.foodCardDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    color: #f0f0f0;
    font-size: 20px;
}

.foodCardQuantity {
  color: #f0f0f0;
  margin-top: 2px;
}

.foodCardName {
  margin-bottom: 2px;
}

.foodCardQuantity, .expirationDate {
  margin-bottom: 2px;
  }

/* These lines of code remove the default 
   in the text field increment/decrement buttons */
.quantityControl input::-webkit-outer-spin-button,
.quantityControl input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantityControl {
    display: flex;
    align-items: center;
}

/* Controls size of input box */
  .quantityControl input {
    width: 30px; 
    text-align: center;
    margin: 0 10px;
}

/* Controls size/styling of increment/decrement buttons */
.quantityControl button {
    font-size: 15px;
    cursor: pointer;
    border-radius: 10%; /* Make the button circular */
    border: 2px solid #0000; /* Optional: Add a border */
    background-color: #f0f0f0; /* Optional: Add a background color */
    color: black;
    }