.foodCardBox {
  background-color: rgb(0,117,69);
  background: radial-gradient(circle, rgba(0,117,69,1) 64%, rgba(120,152,74,1) 100%);
    width: auto;
    max-width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 8px;
    border: 2px solid black;
  }

.foodCardDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    color: #f0f0f0;
    font-size: 20px;
}

.foodCardQuantity {
  color: #f0f0f0;
  margin-top: 2px;
}

.foodCardName {
  margin-bottom: 2px;
}

.foodCardQuantity, .expirationDate {
  margin-bottom: 2px;
  }

.delete-btn {
  font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    color: rgb(0,117,69);
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #fdffdb;
    border: none;
    border-radius: 15px;
}