.allRestaurantsHeader {
    margin-left: 15px;
    font-size: 30px;
    color: #004715;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

  .restaurantsGrid {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 10px;
    
  }