.dashboardHeaderBox {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 250%; */
    width: 100%;
    padding: 30px;
    color: rgb(0,117,69);
    /* gap: 900px; */
    justify-content: space-between;
    width: 100vw;
}

.logout-btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0,117,69);
    align-items: center;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #fdffdb;
    border: none;
    border-radius: 15px;
}