.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    gap: 800px;
}

.foodAvailableText {
    padding-left: 20px;
    align-items: center;
    color: rgb(0,117,69);
}

.rightButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.searchBar{
    margin-right: 20px;
}