.main {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    padding-top: 10px;
    gap: 800px;
}

.foodAvailableText {
    padding-left: 20px;
    align-items: center;
}

.rightButtons {
    display: flex;
    padding-top: 15px;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.searchBar{
    margin-right: 20px;
}