.update-listings-page {
    padding: 20px;
}
.update-listings-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: auto;
}

.updatelistings {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    padding-top: 5%;
}

.listing-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
}