.edit-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
    width: 80%;
}

.save-button {
    background-color: #fdffdb;
    padding: 20px;
    border: none;
    border-radius: 50px;
    color: rgb(0,117,69);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.photo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.edit-profile-page {
    background: rgb(0,117,69);
    background: radial-gradient(circle, rgba(0,117,69,1) 64%, rgba(120,152,74,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.aws {
    display: flex;
    flex-direction: column;
    gap: 20px;
}