.wholePage {
    display: flex;
    flex-direction: row;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    width:15%;
    background-color: rgb(0,117,69);
    
}

.rightColumn {
    width: 80%;
}
