.leftColumn {
    display: flex;
    flex-direction: column;
}

/* .wholePage {
    display: flex;
    flex-direction: row;
    color: #004715;
} */

.rightColumn {
    width: 84%;
}

.right-side {
   width: 100%;
}