.title {
    background-color: #004715;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin: 50px;
    border-radius: 25px;
    margin-bottom: 10px;
    
}

.impact {
    /* background-color: #004715; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
    margin: 50px;
}

.stats {
    border: 1px solid #fdffdb;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    max-width: 200px;
    max-height: 200px;
}

.impact {
    border-radius: 25px;
}

@media (min-width: 600px) {
    stats {
      font-size: 18px; /* Font size for screens wider than 600px */
    }
  }