.headline-section {
    background: rgb(0,117,69);
    background: radial-gradient(circle, rgba(0,117,69,1) 64%, rgba(120,152,74,1) 100%);
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-size: 20px;
}

.headline-section-text {
    display: flex;
    flex-direction: column;
    color: white;
}

.bullet-points li {
    margin-bottom: 10px; 
    line-height: 1.5; 
}

.btn-group {
    display: flex;
    gap: 50px;
    justify-content: center;
    /* margin-top: 30px; */
}

.landing-page-btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0,117,69);
    align-items: center;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #fdffdb;
    border: none;
    border-radius: 15px;
}

p {
    font-size: 25px;
}
  
.landing-page-btn:hover {
    background-color: #fdffdb76
}

.title {
    background-color: rgb(0,117,69);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin: 50px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.impact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px;
}

.stats {
    background: radial-gradient(circle, rgba(0,117,69,1) 64%, rgba(120,152,74,1) 100%);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    color: white;
    border-radius: 8px;
    padding: 20px; 
    margin: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s; 
}

.leftSide {
    color: white;
    padding: 24px;
}

.causeText {
    text-align: center;
    color: white;
    padding: 20px;
    background: radial-gradient(circle, rgba(0,117,69,1) 64%, rgba(120,152,74,1) 100%);
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.stats:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.gridBox {
    background-color: #fdffdb;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 20px; 
    margin: 10px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s; 
    border: 0.5px solid #000;
    padding: 20px;
    text-align: center;
}

.gridBox:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.statNumber {
    font-size: 2em;
    font-weight: bold; 
    margin-bottom: 10px; 
}
    
.statDescription {
    font-size: 0.9em;
    color: #666; 
}

.statsImage {
    height: 70px;
    width: 70px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .headline-section {
        flex-direction: column;
        padding: 40px;
        height: auto;
    }

    .headline-section-img {
        margin-top: 20px;
    }

    /* .btn-group {
        gap: 20px;
    } */
}

@media (max-width: 992px) {
    .headline-section {
        padding: 40px;
    }

    .gridContainer {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .impact {
        flex-direction: column;
        gap: 20px;
    }

    .stats {
        margin: 20px 0;
    }
}

@media (max-width: 768px) {
    .headline-section {
        padding: 40px;
    }

    .gridContainer {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .headline-section {
        padding: 40px;
    }

    .headline-section-text h1 {
        font-size: 1.5rem;
    }

    .btn-group {
        gap: 20px;
    }
}
