.login {
    background: rgb(0,117,69);
    background: radial-gradient(circle, rgba(0,117,69,1) 64%, rgba(120,152,74,1) 100%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto; 
    width: 700px;
    height: 700px;
    color: white;
    transition: transform 0.2s, box-shadow 0.2s; 
}

.login:hover { 
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5); 
}

.login-header {
    display: flex;
    flex-direction: column;
}

.centered-element {
    text-align: center;
}
  
.right-aligned-element {
    margin-left: 550px; 
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.sign-up {
    display: flex;
    flex-direction: row;
}

.sign-up-btn {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 1px;
    padding: 0;
    cursor: pointer;
    display: inline-block; 
}

.memberQuestion {
    margin-right: 10px;
}

.login-button {
    background-color: #fdffdb;
    border: none;
    border-radius: 50px;
    color: #004715;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.close-icon {
    font-size: 2rem;
}

@media (max-width: 1200px) {
    .right-aligned-element {
        margin-left: auto;
    }

    .form {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .login {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .right-aligned-element {
        margin-left: auto;
    }

    .form {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .login {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .form {
        width: 100%;
    }

    .login-button {
        font-size: 18px;
        padding: 10px 20px;
    }

    .sign-up {
        flex-direction: column;
        align-items: center;
    }

    .memberQuestion {
        margin-right: 0;
    }

    .sign-up-btn {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .close-icon {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .close-icon {
        font-size: 1rem;
    }
}
