.sign-in {
    display: flex;
    flex-wrap: nowrap;
}

.accountQuestion {
    margin-right: 10px;
}

.signup {
    background-color: #004715;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: space-evenly; /* Center vertically */
    /* padding: 20px; */
    margin: auto; 
    width: 700px;
    height: 700px;
    color: white;


    /* box-shadow: 0 0 10px rgba(255,125,0,1),
            0 0 20px 5px rgba(255,175,0,0.8),
            0 0 30px 15px rgba(255,225,0,0.5); */
}

.signup:hover { 
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5); 
} 

.signup-header {
    display: flex;
    flex-direction: column;
}

.right-align-element {
    margin-left: 550px; 
    /* margin-bottom: 60px; */
}

.center-element {
    text-align: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* padding: 40px; */
}

.signup-button {
    /* margin-top: 70px; */
    background-color: #fdffdb;
    border: none;
    border-radius: 50px;
    color: #004715;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}