.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: auto;
    background-color: #004715;
}

.header .logo {
    width: 70px;
    height: 70px;
    padding-left: 10px;
}

.header-item {
    margin: 30px;
}

.headerText {
    color: #fdffdb;
}

.headerLeftSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: 25px;
}
