.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: auto;
    background-color: #004715;
}

.header .logo {
    width: 100px;
    height: auto;
}

.header-item {
    margin: 30px;
}