.cartItemImage{
    height: 200px;
    width: 200px;
    padding-right: 20px;
}

.cartItemLeftSide {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    border-radius: 8px;
    padding: 10px;
  }

.cartItemRightSide {
    padding-right: 10px;
}

.cartItemBox {
    display: flex;
    background-color: #004715;
    border-radius: 8px;
    justify-content: space-between;
    margin: 20px;
    color: white;
}

.requestButton {
    height: 50px;
    width: 150px;
    padding: 5px 10px;
    font-size: 25px;
    text-align: center;
    color: #fdffdb;
    background-color: #004715;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;

}

.cartHeader {
    margin-left: 15px;
    font-size: 30px;
    color: #004715;
    font-family: Georgia, 'Times New Roman', Times, serif;
}