.cartItemImage{
    height: 200px;
    width: 200px;
    padding-right: 20px;
}

.cartItemLeftSide {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    border-radius: 8px;
    padding: 10px;
  }

.cartItemRightSide {
    padding-right: 10px;
}

.cartItemBox {
    display: flex;
    background: radial-gradient(circle, rgba(0,117,69,1) 64%, rgba(120,152,74,1) 100%);
    border-radius: 8px;
    justify-content: space-between;
    margin: 20px;
    color: white;
}

.requestButton {
    width: 150px;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 117, 69);
    align-items: center;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fdffdb;
    border: none;
    border-radius: 15px;

}

.cartHeader {
    margin-left: 15px;
    font-size: 30px;
    background: radial-gradient(circle, rgba(0,117,69,1) 64%, rgba(120,152,74,1) 100%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.deleteItemButton {
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 117, 69);
    align-items: center;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #fdffdb;
    border: none;
    border-radius: 15px;
}