/* Refers to JUST the buttons */

.allButtons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
   
}

/* Refers to the container encasing the buttons */
.buttonBox {
    background-color: #004715;
    height: 100%;
    text-align: center;

    
   
}