body, html {
    margin: 0px;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: #fdffdb; */
    /* color: #fdffdb; */
}

/* h1 , h2, h3{
    color: white;
} */

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure app takes up at least the height of the viewport */
}

.button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    color: rgb(0,117,69);
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #fdffdb;
    border: none;
    border-radius: 15px;
}